.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: #ffffffb9;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    margin-top: 20px;
}
.navbar{
    display: flex;
    height: 70px;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    &__logo{
        user-select: none;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding-right: 40px;
        h2{
            font-size:32px;
            font-weight:100;
            color:rgb(197, 194, 194);
            margin-left: 30px;
        }
    }
    &__select{
        width: 94px;
        height: 24px;
        border: none;
        outline: none;
        font-size: 16px;
        color:$bg-text;
        margin-left: 30px;
        background: transparent;
        &:hover{
            color:rgb(144, 144, 228); 
            cursor: pointer;
         }
    }
    &__wrapper{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__collection{
        display: flex;
        margin-top: 15px;
        gap: 24px;
    }
    &__item{
        color: $bg-text;
        transition: .5s;
        &:hover{
           color:rgb(144, 144, 228); 
           cursor: pointer;
        }
    }
    &__btn{
       width: 154px;
       height: 40px;
       border-radius: 50px;
       border: 1px solid rgb(255, 246, 246);
       background: transparent;
       font-size: 15px;
       color: $bg-text;
       transition: all .3s;
       &:hover{
        color: $bg-py;
        transform:scale(1.1);
        background:rgba(162, 227, 248, 0.74);
        border: none;
       }
    }
    .show{
        left: 0;
        margin-right: 10px;
    }
    &__menu{
        display: none;
        @media (max-width: 500px) {
            display: block;
        }
        span{
            display: block;
            width: 30px;
            height: 3px;
            background:$bg-text;
            margin-bottom:6px;
            border-radius: 6px;
        }
    }
}
.from-top{
    transform: translateY(-20px);
    opacity: 0;
    animation: fromTop .35s ease-in  .3s forwards;
}
@keyframes fromTop{
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width:1220px){
    .navbar{
        &__collection{
            display: none;
        }
    }
}
@media (max-width:690px){
    .navbar{
        &__select{
            display: none;
        }
    }
}
@media (max-width:500px){
    .navbar{
        width: 100%;
        &__logo{
            h2{
                display: none;
            }
        }
        &__btn{
            display: none;
        }
    }
}
@media (max-width:350px){
    .navbar{
        max-width: 100%;
        &__logo{
            h2{
                display: none;
            }
        }
        &__btn{
            display: none;
        }
    }
}


